@import "tailwindcss";

@font-face {
    font-family: 'ITC Legacy Sans Std Book';
    src: url('/fonts/itc-legacy-sans-std-book.woff2') format('woff2'),
        url('/fonts/itc-legacy-sans-std-book.woff') format('woff'),
        url('/fonts/itc-legacy-sans-std-book.eot') format('embedded-opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Legacy Sans Std Book';
    src: url('/fonts/itc-legacy-sans-std-book-italic.woff2') format('woff2'),
        url('/fonts/itc-legacy-sans-std-book-italic.woff') format('woff'),
        url('/fonts/itc-legacy-sans-std-book-italic.eot') format('embedded-opentype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Tomarik Brush';
    src: url('/fonts/tomarik-brush.woff2') format('woff2'),
        url('/fonts/tomarik-brush.woff') format('woff'),
        url('/fonts/tomarik-brush.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-legacy-sans: 'ITC Legacy Sans Std Book', sans-serif;
    --font-tomarik-brush: 'Tomarik Brush', cursive;
}

html {
    @apply font-legacy-sans select-none tracking-tight;
}